{% extends 'base.html.twig' %}

{% block title %}{{ 'signup.head.title'|trans }} &mdash; {{ parent() }}{% endblock %}
{% block body_class %}landing-page{% endblock %}

{% block body %}
<section class="row">
  <div class="landing-page-form columns text-center absolute-center">
    <span class="landing-page-logo fa fa-unlock-alt"></span>
    <h1 class="landing-page-header">Rejestracja</h1>

    <form action="#" method="post">
      <div class="input-group">
        <span class="input-group-label">Login</span>
        <input class="input-group-field" type="text" autofocus>
      </div>

      <div class="input-group">
        <span class="input-group-label">Hasło</span>
        <input class="input-group-field" type="password">
      </div>

      <div class="input-group">
        <span class="input-group-label">Powtórz hasło</span>
        <input class="input-group-field" type="password">
      </div>

      <button type="submit" class="large button landing-page-btn float-right">Zarejestruj się</button>
    </form>
  </div>
</section>
{% endblock %}
