{% extends 'base.html.twig' %}
{% form_theme form 'form/landing_page.html.twig' %}

{% block title %}{{ 'signup.head.title'|trans }} &mdash; {{ parent() }}{% endblock %}
{% block body_class %}landing-page{% endblock %}

{% block body %}
  <section class="row">
    <div class="landing-page-form columns absolute-center">
      <div class="landing-page-logo text-center fa fa-unlock-alt"></div>
      <h1 class="landing-page-header text-center">{{ 'signup.landing-page.h1'|trans }}</h1>
      {{ form(form, {'action': path('signup')}) }}
    </div>
  </section>
{% endblock %}
