<!doctype html>
<html class="no-js" lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}System rezerwacji tematów projektów{% endblock %}</title>
    <link rel="stylesheet" href="/style.php/main.scss">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/assets/javascripts/main.js"></script>
  </body>
</html>
