{% extends 'base.html.twig' %}

{% block title %}{{ 'registration.head.title'|trans }} &mdash; {{ parent() }}{% endblock %}
{% block body_class %}landing-page{% endblock %}

{% block body %}
<section class="row">
  <div class="small-12 columns text-center absolute-center">
    <h1 class="landing-page-text">Logowanie</h1>
    <form action="/admin/add/index.php#Dodaj_nowego_studenta" method="post">
      <label>
        Login:
        <input type="text" name="first_name" required>
      </label>

      <label>
        Hasło:
        <input type="text" name="last_name" required>
      </label>

      <button type="submit" class="hollow button">Zaloguj się</button>
    </form>
  </div>
</section>
{% endblock %}
